<div id="content" class="landing_page">
  <div id="content_inside">

    <h2>Generate a new Ruby on Rails 3.0 App</h2>
    
    <% steps = Step.list %>
    <div id="steps">
      <ul class="step_hover">
        <% steps.each do |step| %>
          <li>
            <a href="<%= url(:step, step) %>" data-description-panel="descriptions_<%= step.name %>" ><%= step.title %></a>
          </li>
        <% end %>
      </ul>
      
      <div class="descriptions">
        <% steps.each_with_index do |step, i| %>
          <div class="description descriptions_<%= step.name %>" <% if i != 0 %>style="display:none"<% end %>>
            <h3><%= step.title %></h3>
            <p><%= raw step.description %></p>
          </div>
        <% end %>
      </div>

      <a id="start_now" href="<%= url(:step, Step.first || "#") %>" class="button generate floatr"><strong>Start now</strong></a>

      <div class="clear"></div>
    </div>

    <h2>Pick a popular Rails App stack</h2>

    <div id="popular">
      <ul>
        <li class="default">
          <h3>Default Stack</h3>
          <a href="#" class="button generate floatr"><strong>Customize</strong></a>
          <ul>
            <li>Prototype</li>
            <li>ActiveRecord</li>
            <li>Test Unit</li>
          </ul>
          <code>rails -m http://default.railsgen.com</code>
        </li>
        <li class="rspec">
          <a href="#" class="button generate floatr"><strong>Customize</strong></a>

          <h3>RSpec Stack</h3>
          <ul>
            <li>RSpec 2</li>
            <li>RSpec Rails</li>
            <li>Cucumber</li>
            <li>Capybara</li>
            <li>Factory Girl</li>
          </ul>
          <code>rails -m http://rspec.railsgen.com</code>
        </li>
        <li class="haml">
          <a href="#" class="button generate floatr"><strong>Customize</strong></a>

          <h3>HAML Stack</h3>
          <ul>
            <li>RSpec 2</li>
            <li>RSpec Rails</li>
            <li>Cucumber</li>
            <li>Capybara</li>
            <li>Factory Girl</li>
          </ul>
          <code>rails -m http://haml.railsgen.com</code>
        </li>
      </ul>
      <div class="clear"></div>
    </div>

  </div>
</div>