!!! Strict
%html{html_attrs}
  %head
    %title RailsGen - Ruby on Rails Application Generator

    :erb
      <!-- Meta -->
      <meta name="description" content="generate a ruby on rails 3 application" />
      <meta name="keywords" content="ruby, rails, rails3, ruby on rails, reusable aps" />
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="robots" content="noodp" />

    = include_stylesheets :styles
    = include_javascripts :script

  %body
    #body
      #container
        #content_container
          = render "shared/header"
          = yield

      .footer
        .train
        .perfectline
          %a{:href => "http://www.perfectline.co.uk", :title => "RailsGen is designed by PerfectLine"}
            = image_tag "perfectline.png", :alt => "PerfectLine"

    = render "shared/analytics" if production?
